/* Global font type and size*/
/*.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6, .cke_editable {*/
/*!*font-family: 'Roboto', 'Ubuntu', sans-serif;*!*/
/*font-family: 'Ubuntu', sans-serif;*/
/*!important;*/
/*}*/

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,*/
/*.content-header h4,*/
/*.main-header .logo, .logo-mini, .logo-lg {*/
/*font-family: 'Comfortaa', 'Ubuntu', sans-serif, cursive;*/
/*!important;*/
/*}*/

.lb-font {
  font-family: "Baumans", cursive;
}

body,
html,
.sidebar-menu .treeview-menu > li > a {
  font-size: 14px;
  color: #333333;
}

/* Make login box black background and blue text*/
.login-box-body,
.register-box-body {
  background: none;
  padding: 20px;
  border-top: 0;
  color: #666;
}

/* Remove background of login/registration pages*/
.login-page,
.register-page {
  background: none;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .navbar {
  background-color: #333;
}

/* Make the user panel white*/
.skin-blue .main-header li.user-header {
  background-color: white;
}

/*Center Images*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

/*File uploader drop zon*/
.ajax-upload-dragdrop {
  padding: 5px;
  border: 2px dotted lavender;
}

/*Make user detail panel in top-right white*/
.skin-black-light .main-header li.user-header {
  background-color: transparent;
}

.lb-bg {
  /*background-image: linear-gradient(to right, rgb(126, 87, 223) 0%, rgb(41, 162, 217) 100%);*/
  background-image: linear-gradient(
    to right,
    rgb(177, 152, 223) 0%,
    rgb(104, 190, 228) 100%
  );
  color: #ffffff;
}

/* remove borders from input, remove padding and also remove padding from select 2*/

.form-control {
  border: 0;
  border-bottom: 1px #cce3f6 solid;
  padding-left: 0;
}

.select2-container .select2-choice {
  padding-left: 0;
}

/* make label bold*/

.module-base-form label {
  font-weight: bold;
  margin-bottom: 0;
}

