@font-face {
	font-family: 'Conv_SF-UI-Display-Regular';
	src: url('../fonts/SF-UI-Display-Regular.eot');
	src: url('../fonts/SF-UI-Display-Regular.woff') format('woff'),
	url('../fonts/SF-UI-Display-Regular.ttf') format('truetype'),
	url('../fonts/SF-UI-Display-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_SF-UI-Display-Semibold';
	src: url('../fonts/SF-UI-Display-Semibold.eot');
	src: url('../fonts/SF-UI-Display-Semibold.woff') format('woff'),
	url('../fonts/SF-UI-Display-Semibold.ttf') format('truetype'),
	url('../fonts/SF-UI-Display-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.login-box-body.css-yit-donation-body{ padding-top:10px;}

.css-yit-donation-header{
	background: #a086e7;
	background: -moz-linear-gradient(left, #a086e7 0%, #7db9e8 100%);
	background: -webkit-linear-gradient(left, #a086e7 0%,#7db9e8 100%);
	background: linear-gradient(to right, #a086e7 0%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a086e7', endColorstr='#7db9e8',GradientType=1 );
	position:relative;
	padding:15px 15px
}

.css-yit-donation-title{
	position:relative;
	text-align:center;
	color:#fff;
	font-size:26px;
	font-family: 'Conv_SF-UI-Display-Semibold';

}

.css-yit-donation-back{
	color:#fff;
	position:absolute;
	left:15px;
	top:50%;
	font-size:30px;
	font-weight:normal;
	margin-top:-20px;
	z-index:10;
}
.css-yit-donation-back:hover{ color:#000;}
.css-yit-donation-back .fa.fa-angle-left{
	font-family:'FontAwesome'!important;
	font-weight:normal!important

}
.css-yit-donation-back .fa.fa-angle-left:before{content:"\f104"!important;}

.css-yit-donation-heading{
	color:#000000;
	font-size:20px;
	font-family: 'Conv_SF-UI-Display-Semibold';
	text-align:center;
	padding-bottom:20px;
	transition: .5s;
}

.css-yit-donation-heading2{
	color:#000000;
	font-size:18px;
	font-family: 'Conv_SF-UI-Display-Semibold';
	padding-bottom:10px;

}

.css-yit-donation-filter{
	position:relative;
	padding:0 50px 0 35px;
	font-family: 'Conv_SF-UI-Display-Regular';
	margin-bottom:10px;
	color:#000;
	font-weight:normal;
	border-bottom:1px solid #dbdfe2;
	padding-bottom:10px;
	transition: .5s;
}
.css-yit-donation-filter .css-yit-donation-value{
	position:absolute;
	left:0px;
	top:0px;
}
.css-yit-donation-filter .css-yit-donation-value.right{
	left:auto;
	right:0px;
}

.css-yit-donation-filter .slider-selection{
	background: #7c58e0;
	background: -moz-linear-gradient(left, #7c58e0 0%, #2c9fd9 100%);
	background: -webkit-linear-gradient(left, #7c58e0 0%,#2c9fd9 100%);
	background: linear-gradient(to right, #7c58e0 0%,#2c9fd9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c58e0', endColorstr='#2c9fd9',GradientType=1 );
}

.css-yit-donation-filter .slider-track-low, .css-yit-donation-filter .slider-track-high{
	background:#a4a2a2;
}

.css-yit-donation-filter .slider-handle{
	background: #7c58e0;
	background: -moz-linear-gradient(left, #7c58e0 0%, #2c9fd9 100%);
	background: -webkit-linear-gradient(left, #7c58e0 0%,#2c9fd9 100%);
	background: linear-gradient(to right, #7c58e0 0%,#2c9fd9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c58e0', endColorstr='#2c9fd9',GradientType=1 );

}

.css-yit-donation-check{
	width:23px;
	height:23px;
	border-radius:100%;
	float:right;
	background: #7c58e0;
	background: -moz-linear-gradient(left, #7c58e0 0%, #2c9fd9 100%);
	background: -webkit-linear-gradient(left, #7c58e0 0%,#2c9fd9 100%);
	background: linear-gradient(to right, #7c58e0 0%,#2c9fd9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c58e0', endColorstr='#2c9fd9',GradientType=1 );
	position:relative;
	text-align:center;
}
.css-yit-donation-check:before{
	position:absolute;
	width:21px;
	height:21px;
	border-radius:100%;
	background-color:#fff;
	z-index:1;
	left:1px;
	top:1px;
	content:"";
}

.css-yit-donation-check .fa.fa.fa-check{
	position:relative;
	z-index:10;
	background: #7c58e0;
	background: -moz-linear-gradient(left, #7c58e0 0%, #2c9fd9 100%);
	background: -webkit-linear-gradient(left, #7c58e0 0%,#2c9fd9 100%);
	background: linear-gradient(to right, #7c58e0 0%,#2c9fd9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c58e0', endColorstr='#2c9fd9',GradientType=1 );
	color:#fff;
	width:23px;
	height:23px;
	border-radius:100%;
	vertical-align:top;

}
.css-yit-donation-check .fa.fa.fa-check:before{
	top:5px;
	position:relative;
}

.css-yit-donation-box{
	box-shadow:none;
	border:1px solid #d4d5d5;
	border-radius:8px;
	padding:10px;
	min-height:112px;
}

.css-yit-donation-body .slimScrollDiv{overflow:inherit!important}

.css-yit-donation-body .slimScrollBar{ right:-12px!important;}

.css-yit-donation-filter .slider.slider-horizontal .slider-track{ height:6px;}

.css-yit-donation-filter .slider.slider-horizontal .slider-track{ margin-top:-2px;}

.css-yit-donation-filter .slider.slider-horizontal .slider-tick, .css-yit-donation-filter .slider.slider-horizontal .slider-handle {
	margin-top: -8px;
}

.css-yit-donation-filter .tooltip-inner{ background-color:transparent; color:#000;font-family: 'Conv_SF-UI-Display-Semibold';}
.css-yit-donation-filter .tooltip-arrow{ display:none;}
.css-yit-donation-filter .slider .tooltip.top{ margin-top:-26px;}
.css-yit-donation-box .info-box-text{font-family: 'Conv_SF-UI-Display-Semibold'; color:#000; text-transform:inherit;}
.css-yit-donation-box {font-family: 'Conv_SF-UI-Display-Regular'; color:#333;}
.css-yit-donation-box .info-box-content{
	position:relative;
	padding-right:20px;
	padding-top:0px;
}
.css-yit-donation-box .css-yit-donation-check{
	position:absolute;
	right:0px;
	top:0;
}

.info-box-des{ display:block; font-size:13px;}
.info-box-excerpt{ display:block; font-size:11px; color:#000;}
.info-box-excerpt.hide-excerpt{ display:none;}
.css-yi-info-btn{ display:block; padding-top:10px;}
.css-yi-info-btn .fa{ font-size:10px;font-family:'FontAwesome'!important;
	font-weight:normal!important}
.css-yi-info-btn a{
	border-radius:5px;
	color:#000;
	font-size:11px;
	border:1px solid #000;
	display:inline-block;
	padding:0px 15px;
}

.css-yi-info-btn a:hover{
	color:#fff;
	background-color:#000;
}

.css-yit-info-detial{

	padding-top:10px;
	color:#333;
	font-size:12px;
	display:none;
}

.btn-primary.css-yit{
	background: #B198E9;
	background: -moz-linear-gradient(left, #B198E9 0%, #B198E9 100%);
	background: -webkit-linear-gradient(left, #B198E9 0%,#B198E9 100%);
	background: linear-gradient(to right, #B198E9 0%,#B198E9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B198E9', endColorstr='#B198E9',GradientType=1 );
	border:none;
	border-radius:20px;
	padding-top:3px;
	padding-bottom:3px;
}


.css-yit-btn-block-2 { direction:inline-block; margin:auto;
	width: 60%!important; font-size: 17px!important;
}

.css-yit-donation-box .info-box-icon
{
	overflow:hidden;
	position:relative;
	box-sizing:border-box
}

.css-yit-donation-badge{
	display:block;
	position:absolute;
	left:0px;
	bottom:0px;
	color:#fff;
	border-radius:5px;
	text-align:center;
	padding:6px 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 163, 217, .8)), to(rgba(144, 108, 224, .8)));
	background-image: linear-gradient(180deg, rgba(40, 163, 217, .8), rgba(144, 108, 224, .8));width:100%;
	font-size:12px;
	line-height:normal;

}
.css-yit-donation-box .info-box-icon img{
	object-fit: cover;
	height:100px;
	width:130px;
}

@media only screen and (max-width:1100px) {

	.css-yit-donation-body{
		background-color:#fff;
	}
	.css-yit-donation-body .login-box{ width:100%; margin:0px;}

}

.css-yit-donation-box .info-box-icon{ height:90px; width:130px;}
.css-yit-donation-box  .info-box-content{ margin-left:130px; }
.css-yit-donation-body .login-box, .register-box{
	margin: 0 auto!important
}


/*===========6-9-2019===========*/

@font-face {
	font-family: 'Sourcesans Regular';
	src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Sourcesans Bold';
	src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Sourcesans Light';
	src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Sourcesanspro';
	src: url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
body.login-page .site-header.inner-header{
	position:relative;
}

body.login-page .site-header.inner-header .navbar-expand-sm .navbar-nav a {
	color: #000;
}
body.login-page .site-header{
	border-bottom: 1px solid #f3f3f3!important;
}

body.login-page .toggle-button .menu-bar-top,
body.login-page .toggle-button .menu-bar-bottom,
body.login-page .toggle-button .menu-bar-middle
{
	border-color:#000;
}
body.login-page .toggle-button.white-toggle .menu-bar-middle{
	background-color:#000;
}
body.login-page .header-search.text-white.searchbtn{ color:#000!important}
body.login-page .navbar-brand {
	width: 95px;
}
.footer{ clear:both;}
.hidden {
	display: none !important;
}
.headersearchbox  form{ display:flex; width:100%;}
.input-group form > .custom-file-control:not(:last-child), .input-group form > .custom-select:not(:last-child), .input-group form > .form-control:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.headersearchbox .btn.btn-filter{ padding-top:0px; padding-bottom:0px;}

.headersearchbox.show-search-box {
	overflow: initial;
}

.filterSubmit .btn:focus{ color:#fff;}
.card-body{ padding:0px;}
.filterSlider.filterSlider-alt form{ margin-bottom:0px;}

.saveCharity .btn-primary.css-yit-btn-block-2{
	width:auto!important;
	background:none!important;
	background-color:#000!important;
	border-radius: 20px!important;
	font-size: 16px!important;
	padding:6px 25px;
	font-family: 'Sourcesans Regular';
	min-width:100px;
}
@media only screen and (min-width:1100px) {

	.login-page{
		background:#fff;
	}
	.login-box{ width:100%; padding-bottom:50px;}
	.login-box-body{ width:100%;max-width: 1140px; margin:auto; padding-left:15px; padding-right:15px;}
	.css-yit-donation-header{
		background:none!important;
		background-color:#fff;
		border-bottom: 1px solid #ddd;
		margin-bottom:20px;
	}

	.css-yit-donation-header .css-yit-donation-title {
		font-family: 'Sourcesanspro';
		margin: 0px;
		font-size: 40px;
		color:#000;
	}
	.css-yit-donation-header .css-yit-donation-back{ display:none;}

	.css-yit-donation-heading {
		color: #212529;
		font-size:25px;
		font-family: 'Sourcesans Regular';
		font-weight:400;
		text-align: left;
		padding-bottom:10px;
		padding-top:10px;


	}
	.css-yit-donation-filter{ padding-bottom:25px; margin-bottom:20px;}

	.css-yit-donation-heading2 {
		color: #212529;
		font-size:25px;
		font-family: 'Sourcesans Regular';
		font-weight:400;
	}

	.login-box-body .slimScrollDiv,
	.login-box-body .slimscroll
	{ height:auto!important}

	.login-box-body .row{
		display: flex;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.login-box-body .row .col-md-12.charity {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.css-yit-donation-box {
		box-shadow: none;
		border: 1px solid #d4d5d5;
		border-radius: 8px;
		padding: 10px;
		min-height: 143px;
		margin-bottom: 15px;
	}
	.css-yit-donation-box .info-box-icon {
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		height: 150px;
		width: 100%;
		float: left;
	}
	.css-yit-donation-box .info-box-icon img{
		object-fit: cover;
		height: 140px;
		width: 100%;
	}

	.css-yit-donation-box .info-box-content {
		position: relative;
		padding: 0px;
		margin-left: 0;
		clear: both;
		font-family: 'Sourcesans Regular';
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		font-size:15px;
	}
	.info-box-detail {
		min-height: 80px;
	}
	.info-box-content .info-box-text {
		font-size: 18px;
		color: #212529;
		font-weight: 600;
		font-family: 'Sourcesanspro';
	}

	.css-yit-donation-box {
		font-family: 'Sourcesans Regular';
		color: #212529;
		font-size:15px;
	}
	.info-box-des {
		display: block;
		font-size: 15px;
		min-height:23px;
	}
	.info-box-excerpt {
		display: block;
		font-size: 15px;
		color: #212529;
	}
	.info-box-icon.bg-aqua{ background-color:transparent!important}
	.css-yi-info-btn {
		display: block;
		padding-top: 10px;
	}

	.css-yi-info-btn a {
		background: rgb(177,154,236);
		background: -moz-linear-gradient(left, rgba(177,154,236,1) 0%, rgba(132,202,233,1) 100%);
		background: -webkit-linear-gradient(left, rgba(177,154,236,1) 0%, rgba(132,202,233,1) 100%);
		background: linear-gradient(to right, rgba(177,154,236,1) 0%, rgba(132,202,233,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b19aec', endColorstr='#84cae9', GradientType=1 );
		color: #fff;
		border-radius: 20px;
		text-align: center;
		display: inline-block;
		padding: 3px 15px;
		border-radius: 5px;
		font-size: 15px;
		border:none;
	}

	.css-yi-info-btn a:hover {
		background: rgb(177,154,236);
		background: -moz-linear-gradient(left, rgba(132,202,233,1) 0%, rgba(177,154,236,1) 100%);
		background: -webkit-linear-gradient(left, rgba(132,202,233,1) 0%, rgba(177,154,236,1) 100%);
		background: linear-gradient(to right, rgba(132,202,233,1) 0%, rgba(177,154,236,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84cae9', endColorstr='#b19aec', GradientType=1 );
		color: #fff;
	}
	.css-yi-info-btn .fa{ font-size:14px;}

	.css-yit-info-detial {
		padding-top: 10px;
		font-size: 15px;
		display: none;
	}

	.css-yit-donation-check .fa.fa.fa-check{
		background: rgb(177,154,236);
		background: -moz-linear-gradient(left, rgba(177,154,236,1) 0%, rgba(132,202,233,1) 100%);
		background: -webkit-linear-gradient(left, rgba(177,154,236,1) 0%, rgba(132,202,233,1) 100%);
		background: linear-gradient(to right, rgba(177,154,236,1) 0%, rgba(132,202,233,1) 100%);
		background-color: rgba(0, 0, 0, 0);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b19aec', endColorstr='#84cae9', GradientType=1 );
	}

	.css-yit-donation-filter .slider.slider-horizontal .slider-track {
		height: 10px;
	}

	.css-yit-donation-filter .slider-selection {
		background: #84cae9;
		background: -moz-linear-gradient(left, #84cae9 0%, #b19aec 100%);
		background: -webkit-linear-gradient(left, #84cae9 0%, #b19aec 100%);
		background: linear-gradient(to right, #84cae9 0%, #b19aec 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84cae9', endColorstr='#b19aec', GradientType=1 );
	}

	.css-yit-donation-filter .slider-handle {
		background: #84cae9;
		background: -moz-linear-gradient(left, #84cae9 0%, #b19aec 100%);
		background: -webkit-linear-gradient(left, #84cae9 0%, #b19aec 100%);
		background: linear-gradient(to right, #84cae9 0%, #b19aec 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84cae9', endColorstr='#b19aec', GradientType=1 );
	}

	.css-yit-donation-filter .slider.slider-horizontal .slider-tick, .css-yit-donation-filter .slider.slider-horizontal .slider-handle {
		margin-top: -5px;
	}
	b, strong {
		font-family: 'Sourcesanspro';
		font-weight: 600;
	}
	.css-yit-donation-filter .css-yit-donation-value {
		left: 0px;
		top: -5px;
		font-size: 18px;
	}

	#ex1Slider .tooltip .tooltip-inner {
		padding: 0px;
		background-color: transparent;
		color: #000;
		font-size: 18px;
		font-family: 'Sourcesans Regular';
	}

	.saveCharity {
		clear: both;
		width: 100%;
		float: left;
		text-align: center;
		position: fixed;
		left: 0px;
		bottom: 0px;
		transition: .5s;
		background: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.saveCharity.stickybtm {
		position: relative;
		transition: .5s;
	}


	.filterSlider{ background-color:#fff; transition: .5s;}
	.filterSlider .container{ padding:0px; width:100%; max-width:1140px;}
	.filterSlider.filterSlider-alt {
		position: fixed;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: 99;
	}

	.filterSlider.filterSlider-alt .container{ padding:0px 15px;}
	.filterSlider .css-yit-donation-filter{ margin-top:20px;}
	.filterSlider.filterSlider-alt .css-yit-donation-filter{ margin-top:10px;}

	.filterSlider.filterSlider-alt .css-yit-donation-filter{ margin-bottom:0px;}
}

@media only screen and (max-width:1099px) {
	.site-header,
	.toggle-button,.footer
	{ display:none;}
	.css-yit-donation-box .info-box-content{ clear:none;}
	.css-yit-donation-heading{ padding-bottom:0px;}
	.filterSlider .container{ padding:0px;}
	.css-yit-donation-filter .css-yit-donation-value {
		top: -4px;
	}
	.info-box-content .info-box-text{
		font-size:14px;
		font-weight:normal;
	}
	.css-yit-donation-filter{ margin-bottom:0px;}
	.filterSlider form{ margin-bottom:10px;}
	.css-yi-info-btn a{
		background:none;
		background-color:#fff;
	}
	.css-yi-info-btn a:hover{
		background:none;
		background-color:#000;
	}
	.css-yit-donation-filter{ margin-top:30px;}
}